body {
    font-family: sans-serif;
}


a{
    text-decoration:none ;
    color: black;
}

header{
    text-align: center;
}

.menu{
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.menu a{
    color: crimson;
    display-color:crimson ;
    padding: 10px;
}


nav{
  display: flex; 
   justify-content:
}

main img{
    width: 100%;
}